html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
  background : black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage {
  background-image: url("bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main {
  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
  font-size: 40px;
  color: white;
  margin-bottom: 12px;
  margin-top: 0;
}
.tagline {
  font-size: 20px;
  color: white;
}
.button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}
.button:hover {
  background: white;
  color: blue;
  font-weight: 800;
}

/*
chat page
*/
.members-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  border-radius: 10px;
  background: #8e6279;
  color: white;
  overflow: auto;
}
.messages-area {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.user-info {
  background-color: white;
  color: darkblue;
  font-size: 24px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 5px;
}
.logout {
  float : right;

}
.member {
  padding: 10px;
  background: #121721;
  border-bottom: solid 1px purple;
  border-radius: 4px;
}
.member:hover {
  background: white;
  color: darkblue;
  cursor: pointer;
}
.chat-info {

  border-radius: 10px;
  padding: 6px;
  color: black;
}
.ch-in {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 8px;
}
.member.active {
  background-color: white;
  font-weight: bold;
  color: darkblue;
}
.messages {
  height: 90%;
  overflow: auto;
}
.message {
  padding: 10px;
  border-radius: 10px;
  width: 600px;
}
.message.by-user {
float : right;
  width: 70%;
  margin: 10px;
  background: #2c9e8e;
}
.chat-form {
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  margin-bottom: 1px;
}
.chat-message {
    padding: 6px;
    border: solid 1px ligthgray;
    border-radius: 6px;
    display: block;
    width: 100%;
}
