html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
  background : black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage {
  background-image: url("bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main {
  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
  font-size: 40px;
  color: white;
  margin-bottom: 12px;
  margin-top: 0;
}
.tagline {
  font-size: 20px;
  color: white;
}
.button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  background: white;
  color: blue;
  font-weight: 800;
}

/*
chat page
*/
.members-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  border-radius: 10px;
  background: grey;
  color: white;
  overflow: auto;
}
.messages-area {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.user-info {
  background-color: white;
  color: darkblue;
  font-size: 24px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 5px;
}

.member {
  font-size: 18px;
  padding: 10px;
  background: #982ec9;
  border-bottom: solid 1px lightgrey;
  border-radius: 15px;
}
.member:hover {
  background: white;
  color: darkblue;
  cursor: pointer;
}
.chat-info {
	padding: 12px;
	color: black;
	font-size: 20px;
	font-weight: bolder;

}

.messages {
  overflow: auto;
  height: 90%;
}
.message {
  float: left;
  width: 60%;
  margin-bottom: 6px;
  padding: 6px;
  border-radius: 6px;
  background: lightblue;
  font-size: 18px;
  font-weight:300;
}
.message.by-user {
  float: right;

  	width: 60%;
  	margin-bottom: 10px;
  	padding: 6px;

  	border-radius: 6px;
  	background:#fff;
}
/*
.chat-form {
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  padding: 10px;
  background: white;
  background-color: #F17327;
}*/
.btn-send{
  float: right;
  width: 8%;
  padding: 8px;
  color: grey;
  border-radius: 15px;
  background-color: blue;
}
.btn-send:hover{
  cursor: pointer;
}
.chat-message {
    float: left;
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 15px;
    display: block;
    width: 92%;
}
.logout{
  float: right;
  padding: 2px;
  background: lightgreen;
  border-radius: 10px;
}
.logout:hover{
  cursor: pointer;
}
