html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
  background : black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage {
  background-image: url("bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main {
  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
  font-size: 40px;
  color: white;
  margin-bottom: 12px;
  margin-top: 0;
}
.tagline {
  font-size: 20px;
  color: white;
}
.button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}
.button:hover {
  background: white;
  color: blue;
  font-weight: 800;
}

/*CHAT PAGE*/



.members-area{
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;

	width: 30%;

	color: white;
	background-color: grey;
}
.user-info{
	padding: 10px;

	color: darkblue;
	background:#40C66A;

	font-size: 17px;
}
.member{
	padding: 10px;

	color: navy;
	border-bottom: solid 1px lightgrey;
  border-radius: 15px;

	font-size: 18px;
}
.members{
  padding: 10px;
}
.member:hover{
	color: pink	;
	background:darkblue;
}
.member.active{
	color: darkblue;
	background-color: azure;

	font-weight: bold;
}
.message-area{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 30%;

	width: 70%;

	background:	azure;
}
.chat-info{
	padding: 10px;

	color: black;
	color: 	blue;
	background-color: #F17327;

	font-size: 20px;
	font-weight: bolder;

}
.messages{
	overflow: auto;

	height: 85%;
	padding: 15px;

	background: lightblue;
}
.message{
	float: left;

	width: 60%;
	margin-bottom: 10px;
	padding: 15px;

	border-radius: 6px;
	background:#fff;
}
.message.by-user{
	float: right;

	width: 60%;
	margin-bottom: 10px;
	padding: 15px;

	border-radius: 6px;
	background:#fff;
}
.chat-form{
	position: fixed;
	bottom: 0;
	left: 30%;

	width: 70%;
	padding: 10px;

	background: white;
	background-color: #F17327;
}
.chat-message{
	display: black;float: left;

	width: 90%;
	padding: 10px;

	border: solid 1px lightgreen;
	border-radius: 20px;
}
/*
.btn-send{
  float: right;
  margin-top: 5px;
  width: 10%;

  color: rgb(201, 215, 157);
  border-radius: 15px;
  background-color: red;
}

.logout{
  background-color: red;
  color: rgb(201, 215, 157);

  border-radius: 6px;
}*/
